.job-interested{
  background-color: $bg-grey;
  padding-top: calc(var(--x) * 189);
  padding-bottom: calc(var(--x) * 221);

  .job-interested__row{
    display: flex;

    .job-interested__title{
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 2.25rem;
      margin: 0;
    }

    .job-interested__social{
      display: flex;
      margin-left: auto;

      .social{
        display: flex;
        align-items: center;
        margin: 0;

        .social__item{
          margin-right: 0.516rem;

          .social__link{
            font-size: 1rem;
            width: 2.406rem;
            height: 2.406rem;
            line-height: 2.406rem;
            text-align: center;
            color: $white;
            border-radius: 2rem;
            display: block;
          }
        }
      }
    }

    &:after{
      @include incline();
    }

  }
}

@media only screen  and (max-width: $break-small) {

  .job-interested{
    .job-interested__row{
      flex-flow: wrap;

      .job-interested__title{
        width: 100%;
        text-align: center;
      }

      .job-interested__social{
        width: 100%;
        margin-top: 3vw;
        justify-content: center;
      }

    }
  }
}