.job-apply {
  padding-top: var(--job-apply-p);
  padding-bottom: var(--job-apply-p);
  font-size: 1.063rem;
  background-color: $white;

  .wpcf7-not-valid-tip{
    color: $crimson;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 25px;
  }

  .job-apply__row {

    .job-apply__row-title {
      font-size: 2.813rem;
      font-weight: 300;
      line-height: 55px;
      margin-top: 0;
    }

    .apply-form {
      .wpcf7-form-control-wrap{
        position: unset;
      }

      .apply-form__item {
        margin-top: var(--job-apply-item-mt);

        &.agreement {
          margin-top: var(--job-apply-ageement-mt);
        }

        &.user-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-row-gap: 2%;
          grid-column-gap: 2%;

          .user-data__field {
            position: relative;

            label {
              position: absolute;
            }

            input {
              width: -webkit-fill-available;
            }


          }
        }

        .apply-form__item-field {
          position: relative;

          label {
            position: absolute;
          }

          .apply-form__item-message {
            width: -webkit-fill-available;
          }

        }

        input {
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.2);
          font-size: 1.063rem;
          line-height: 25px;
          padding-bottom: var(--job-apply-input-pb);
          width: 100%;

          &:focus {
            border-color: $crimson;

          }
        }

        .asterisk {
          color: $asterisk-color;
        }

        &.agreement {
          color: $agreement-grey;
          font-size: 0.875rem;

          a {
            color: $crimson;
          }

          input{
            display: none;
          }



          label{
            position: relative;
            padding-left: 30px;

            &:before{
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 18px;
              height: 18px;
              border-radius: 6px;
              border: var(--border-width) solid $crimson;
            }

            &.checked{
              &:before{

                background-color: $crimson;
              }
            }
          }

          .wpcf7-list-item{
            margin-left: 0;
          }
        }





        &.apply__submit{
          display: flex;
          align-items: center;
          float: left;



          input{
            border-top: var(--border-width) solid rgba(61, 57, 53, 0.2);
            border-left: var(--border-width) solid rgba(61, 57, 53, 0.2);
            border-right: var(--border-width) solid rgba(61, 57, 53, 0.2);
            width: auto;
            font-size: 0.9375rem;
            border-radius: var(--menu-item-a-last-radius);
            padding: var(--menu-item-a-last-padding);
            display: inline-block;
            height: var(--menu-item-a-height);
            line-height: var(--menu-item-a-height);

            &:hover{
              cursor: pointer;
            }

            &:focus {
              border-color:  rgba(61, 57, 53, 0.2);

            }

            &:disabled{
              opacity: 0.4;

              &:hover{
                cursor: not-allowed	;
              }
            }
          }
          .apply__submit-btn{
            margin-right: 2%;


          }

          .apply__submit-response {
            color: $agreement-green;
            font-size: 0.9375rem;
            font-weight: 400;
            margin-left: 2%;

          }
          .agreement-success{
            display: none;
            width: 0.75rem;
            height: 0.75rem;

            &.active {
              display: block;
            }
          }
        }
      }

      .file {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .file__item-main {

          .file__item-category {
            display: flex;
            margin-bottom: var(--job-apply-ageement-mt);

            .file__items-title {
              margin-right: 0.9375rem;
            }

            .file__items {
              display: flex;
              margin: 0;

              .file__item {
                color: $crimson;
                font-size: 0.6875rem;
                font-weight: 400;
                text-transform: uppercase;
              }
            }

            span {
              margin-right: var(--job-apply-category-mr);
            }
          }

          .file__item-upload {
            border: none;
            display: none;

            &.active {
              display: block;
            }

          }
        }
      }

      .wpcf7-response-output{
        position: relative;
        font-size: 0.9375rem;
        font-weight: 400;
        display: inline-block;
        border: none;
        margin-top: var(--job-apply-item-mt);
        line-height: 40px;
        padding-left: 3%;
      }

      .wpcf7-validation-errors{
        color: $crimson;
      }

      .wpcf7-mail-sent-ok{
        color: $agreement-green;

        &:before{
          content: "";
          background-image: url(../images/icons/-e-yes.png);
          position: absolute;
          left: 0;
          top: 30%;
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

  }
}