.job-description{
  padding-top: calc(var(--x) * 200);
  padding-bottom: calc(var(--x) * 200);
  font-size:  1.25rem;
  font-weight: 300;
  background-color: $white;

  .job-description__row{

    .job-description__row-content{
      margin-bottom: calc(var(--x) * 90);
      line-height:  calc(var(--x) * 60);
      overflow: hidden;

      h3{
        font-size: 2.188rem;
        font-weight: 300;
      }

      ul{
        opacity: 0.8;
        font-size: 1.063rem;
        margin-bottom: calc(var(--x) * 50);

        li{
          position: relative;
          padding-left: 2%;
          line-height: calc(var(--x) * 50);

          &:before{
            content: '';
            width: calc(var(--x) * 16);
            height: calc(var(--x) * 16);;
            left: 0;
            position: absolute;
            border: calc(var(--x) * 3) solid $list-type-color-red;
            opacity: 0.8;
            border-radius: 50%;
            top: calc(var(--x) * 16);;
          }
        }
      }
    }
  }

}

@media only screen  and (max-width: $break-medium) {
  .job-description{
    .job-description__row{
      .job-description__row-content{
        ul{
          li{
            padding-left: 3vw;
          }
        }
      }
    }
  }
}