.job-intro{
  background-color: $bg-grey;
  display: -webkit-box;
  position: relative;

  .job-intro__row{
    margin-top: calc(var(--x) * 180);
    margin-bottom: calc(var(--x) * 220);

    &:after{
      @include incline;
      z-index: 0;
      height: 10%;
    }
  }

  .job-intro__title{
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
    //line-height: 110px;

  }

  .job-intro__description{
    font-size: 1.25rem;
    width: 80%;
    line-height: 1.875rem;
    font-weight: 300;
  }

  .job-intro__actions{
    display: flex;
    align-items: center;
    width: 95%;

    .job-intro__actions-location{
      opacity: 0.7;
      font-size: 1.125rem;
      margin-left: 50px;
      margin-right: 50px;
    }

    .job-intro__actions-job-tags{
      display: flex;
      position: relative;
      padding: 0;
    }

    .job-intro__actions-client{
      margin-left: auto;
    }
  }
}

@media only screen  and (max-width: $break-medium) {

  .job-intro{
    .job-intro__actions{
      flex-flow: wrap;

      .job-intro__actions-apply{
        width: 100%;
      }

      .job-intro__actions-location{
        width: 100%;
        margin: 0;
        margin-top: 2vw;

      }

      .job-intro__actions-job-tags{
        width: 100%;
      }

      .job-intro__actions-client{
        width: 100%;
        margin: 0;
      }
    }
  }
}