.job-intro{
  background-color: $bg-grey;
  display: -webkit-box;
  position: relative;

  .job-intro__row{
    margin-top: var(--job-intro-mt);
    margin-bottom: var(--job-intro-mb);

    &:after{
      @include incline;
      z-index: 0;
      height: 10%;
    }
  }

  .job-intro__title{
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
    //line-height: 110px;

  }

  .job-intro__description{
    font-size: 1.25rem;
    width: 80%;

  }

  .job-intro__actions{
    display: flex;
    align-items: center;

    .job-intro__actions-location{
      opacity: 0.7;
      font-size: 1.125rem;
      margin-left: 50px;
      margin-right: 50px;
    }

    .job-intro__actions-job-tags{
      display: flex;
      position: relative;
      padding: 0;
    }

    .job-intro__actions-client{
      margin-left: auto;
    }
  }



}