.job-benefits{
  background-color: $bg-grey;

  .job-benefits__row{
    padding-top: calc(var(--x) * 200);
    padding-bottom: calc(var(--x) * 200);

    .job-benefits__row-title{
      font-size: 2.188rem;
      font-weight: 300;
      margin-top: 0;
      //margin-bottom: calc(var(--x) * 100);
      margin-bottom: calc(var(--x) * 2);

    }

    .job-benefits__row-collection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 25%;
        grid-column-gap: 5%;

      .job-benefits__row-item{
        display: flex;
        align-items: center;

        .job-benefits__row-item-icon{
          height: auto;
          width: var(--benefits-img-w);
          margin-right: 5%;
        }

        .job-benefits__row-item-text{
          opacity: 0.8;
          font-size:  1.063rem;
          font-weight: 300;
          line-height: 1.563rem;
        }
      }
    }


  }
}

@media only screen  and (max-width: $break-tablet-min) {

  .job-benefits{
    .job-benefits__row{
      .job-benefits__row-collection{
        grid-template-columns: 1fr;
        grid-row-gap: unset;

        .job-benefits__row-item{
          margin-bottom: 3vw;
        }
      }
    }
  }
}