.jobs-contact-us{
  position: relative;


  text-align: center;
  background-color: $white;
  padding-top: var(--jobs-contact-pt);
  padding-bottom: var(--jobs-contact-pb);

  .jobs-contact-us__row{

    .jobs-contact-us__title{
      font-size: 1.25rem;
    }

    .jobs-contact-us__action{
      margin-left: var(--jobs-contact-ml);
    }

    &:after{
      @include incline;
      background-color: $white;
    }

  }
}