//  filter list of jobs

.open-vac {

  // grid view of vacancies
  .filter__row-headline {
    display: none;
  }


  .free-vacancy {


    &:hover {
      cursor: pointer;

      .free-vacancy__details-city,
      .free-vacancy__details-location {
        display: none;
      }

      .free-vacancy__details-btn,
      .free-vacancy__details-arrow {
        display: block !important;
      }

    }

    .free-vacancy__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calc(var(--x) * 25);
      min-height: calc(var(--x) * 70);


      .free-vacancy__title {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        .free-vacancy__title-hot{
          background-color: rgba(188, 32, 75, 0.1);
          color: $crimson;
          font-size:  0.6875rem;
          font-weight: 400;
          margin-left: calc(var(--x) * 10);
          padding: calc(var(--x) * 10) calc(var(--x) * 20);
          border-radius: calc(var(--x) * 28);
        }
      }

      .client {
        img {
          width: var(--free-vac-client-w);
        }
      }
    }

    .free-vacancy__description {
      opacity: 0.8;
      font-weight: 300;
      line-height: 1.406rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .free-vacancy__description-info {
        display: none;
      }
    }

    .free-vacancy__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 300;

      .free-vacancy__details {
        display: flex;
        align-items: center;

        .free-vacancy__details-location {
          width: var(--free-vac-grid-icon-w);
          height: var(--free-vac-grid-icon-h);
          margin-right: 0.3rem;
        }

        .free-vacancy__details-btn {
          display: none;
          color: $crimson;
          opacity: 1;
        }

        .free-vacancy__details-arrow {
          display: none;
          margin-left: 0.3rem;
          width: var(--free-vac-grid-array-w);
          height: var(--free-vac-grid-array-h);
        }

      }

      .cpt-item__tags {

        .tags {
          display: flex;
          align-items: center;
          padding: 0;


        }
      }
    }

    &.green {
      .free-vacancy__footer {
        .free-vacancy__details {
          .free-vacancy__details-btn {
            color: $light-green;
          }
        }

        .cpt-item__tags {
          .tags {
            .tags__item {
              .tags__name {
                background-color: $light-green;
              }

              .info-shape {


                &:before {
                  border-top-color: $light-green;

                }
              }
            }
          }
        }
      }
    }

  }


  &.open-vac--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--x) * 60);
    grid-row-gap: calc(var(--x) * 60);

    .free-vacancy {
      background-color: $white;
      border: 1px solid transparent;
      border-radius: calc(var(--x) * 40);
      padding: calc(var(--x) * 50);

      .free-vacancy__footer {
        flex: var(--flex-50);

        .cpt-item__client {
          display: none;
        }
      }
    }


  }

  // grid view of vacancies

  &.open-vac--list {

    .filter__row-headline {
      display: flex;
      padding-bottom: calc(var(--x) * 14);
      padding-top: 0;
      border-bottom: var(--border-width) solid $border-grey-opacity;
      flex: var(--flex-100);

      .filter__row-headline--total {
        flex: var(--flex-33);
      }

      .filter__row-headline--category {
        flex: var(--flex-16);

      }

      .filter__row-headline--info {
        flex: var(--flex-50);
        display: flex;

        .filter__row-headline--location {
          flex: var(--flex-33);
        }

        .filter__row-headline--tags {
          flex: var(--flex-50);
        }

        .filter__row-headline--client {
          flex: var(--flex-16);
        }

      }

    }

    .free-vacancy {
      border-bottom: var(--border-width) solid $border-grey-opacity;
      display: flex;
      min-height: calc(var(--x) * 134);

      .free-vacancy__header {
        flex: var(--flex-33);
        margin: 0;

        .free-vacancy__title {
          margin: 0;
        }

        .client {
          display: none;
        }
      }

      .free-vacancy__description {
        flex: var(--flex-16);

        .free-vacancy__description-content {
          display: none;
        }

        .free-vacancy__description-info {
          display: block;
        }
      }

      .free-vacancy__footer {
        flex: var(--flex-50);

        .free-vacancy__details {
          flex: var(--flex-33);
        }

        .cpt-item__tags {
          flex: var(--flex-50);
        }

        .cpt-item__client {
          display: block;
          flex: var(--flex-16);

          img {
            width: var(--free-vac-client-w);
          }
        }
      }
    }

  }
}

@media only screen  and (max-width: $break-tablet) {

    .open-vac{

      &.open-vac--grid{
        grid-template-columns: 1fr 1fr;
      }
    }

}

@media only screen  and (max-width: $break-medium) {

    .open-vac{

      &.open-vac--grid{
        grid-template-columns: 1fr;
        overflow: hidden;
      }

      &.open-vac--list{
        display: none;
      }
    }

}