//  filter list of jobs

.open-vac {

  // grid view of vacancies
  .filter__row-headline {
    display: none;
  }


  .free-vacancy {


    &:hover {
      cursor: pointer;

      .free-vacancy__details-city,
      .free-vacancy__details-location {
        display: none;
      }

      .free-vacancy__details-btn,
      .free-vacancy__details-arrow {
        display: block !important;
      }

    }

    .free-vacancy__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--free-vac-grid-article-title-m);


      .free-vacancy__title {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 0;

      }

      .client {
        img {
          width: var(--free-vac-client-w);
        }
      }
    }

    .free-vacancy__description {
      opacity: 0.8;
      font-weight: 300;
      line-height: 1.406rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .free-vacancy__description-info {
        display: none;
      }
    }

    .free-vacancy__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 300;

      .free-vacancy__details {
        display: flex;
        align-items: center;

        .free-vacancy__details-location {
          width: var(--free-vac-grid-icon-w);
          height: var(--free-vac-grid-icon-h);
          margin-right: 0.3rem;
        }

        .free-vacancy__details-btn {
          display: none;
          color: $crimson;
          opacity: 1;
        }

        .free-vacancy__details-arrow {
          display: none;
          margin-left: 0.3rem;
          width: var(--free-vac-grid-array-w);
          height: var(--free-vac-grid-array-h);
        }

      }

      .cpt-item__tags {

        .tags {
          display: flex;
          align-items: center;
          padding: 0;

          .tags__item {
            position: relative;
            margin-left: 0.3125rem;

            &:hover {
              .tags__name {
                opacity: 1;
                z-index: 1;
              }
            }

            .tags__name {
              position: absolute;
              opacity: 0;
              z-index: -1;
              background-color: $crimson;
              top: -100%;
              color: $white;
            }

            .info-shape {
              padding: 0 12px;
              line-height: 26px;
              -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .05);
              box-shadow: 0 0 20px rgba(0, 0, 0, .05);
              border-radius: 28px;
              left: -50%;

              &:before {
                content: '';
                border-top-color: $crimson;
                left: 40%;
                position: absolute;
                bottom: -6px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top-width: 10px;
                border-top-style: solid;
              }
            }

            .tags__icon {
              width: var(--free-vac-grid-vac-icon-s);
              height: var(--free-vac-grid-vac-icon-s);
            }
          }
        }
      }
    }

    &.green {
      .free-vacancy__footer {
        .free-vacancy__details {
          .free-vacancy__details-btn {
            color: $light-green;
          }
        }

        .cpt-item__tags {
          .tags {
            .tags__item {
              .tags__name {
                background-color: $light-green;
              }

              .info-shape {
                padding: 0 12px;
                line-height: 26px;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .05);
                box-shadow: 0 0 20px rgba(0, 0, 0, .05);
                border-radius: 28px;
                left: -50%;

                &:before {
                  border-top-color: $light-green;

                }
              }
            }
          }
        }
      }
    }

  }


  &.open-vac--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--free-vac-grid-space);
    grid-row-gap: var(--free-vac-grid-space);

    .free-vacancy {
      background-color: $white;
      border: 1px solid transparent;
      border-radius: var(--free-vac-grid-article-br);
      padding: var(--free-vac-grid-article-p);

      .free-vacancy__footer {
        flex: var(--flex-50);

        .cpt-item__client {
          display: none;
        }
      }
    }


  }

  // grid view of vacancies

  &.open-vac--list {

    .filter__row-headline {
      display: flex;
      padding: 14px 0;
      border-bottom: var(--border-width) solid $border-grey-opacity;
      flex: var(--flex-100);

      .filter__row-headline--total {
        flex: var(--flex-33);
      }

      .filter__row-headline--category {
        flex: var(--flex-16);

      }

      .filter__row-headline--info {
        flex: var(--flex-50);
        display: flex;

        .filter__row-headline--location {
          flex: var(--flex-33);
        }

        .filter__row-headline--tags {
          flex: var(--flex-50);
        }

        .filter__row-headline--client {
          flex: var(--flex-16);
        }

      }

    }

    .free-vacancy {
      border-bottom: var(--border-width) solid $border-grey-opacity;
      display: flex;
      min-height: 77px;

      .free-vacancy__header {
        flex: var(--flex-33);
        margin: 0;

        .free-vacancy__title {
          margin: 0;
        }

        .client {
          display: none;
        }
      }

      .free-vacancy__description {
        flex: var(--flex-16);

        .free-vacancy__description-content {
          display: none;
        }

        .free-vacancy__description-info {
          display: block;
        }
      }

      .free-vacancy__footer {
        flex: var(--flex-50);

        .free-vacancy__details {
          flex: var(--flex-33);
        }

        .cpt-item__tags {
          flex: var(--flex-50);
        }

        .cpt-item__client {
          display: block;
          flex: var(--flex-16);

          img {
            width: var(--free-vac-client-w);
          }
        }
      }
    }

  }
}