.career-description {
  padding-top: calc(var(--x) * 180);
  position: relative;
  z-index: 2;
  background-color: $bg_grey ;

  @import 'parts/archive/career-description';

  @import 'parts/archive/jobs-filter';

  @import 'parts/archive/tabs_list';

  @import 'parts/archive/open-vacancies';

  @import 'parts/archive/contact-us';

}


@media only screen and (min-width: $break-desktop) and (max-width: $break-large) {


}
