.job-single{
  font-size: 1.063rem;
  background-color: $white;

  .job-single__description{
    position: relative;
    z-index: 2;
    background-color: $bg-grey;
  }
  .beetroot-btn{
    background-color: $crimson;
    color: $white;
    font-weight: 300;
    font-size: 1.063rem;
  }

  @import 'parts/single/job-intro';
  @import 'parts/single/job-description';
  @import 'parts/single/job-benefits';
  @import 'parts/single/job-apply';
  @import 'parts/single/job-interested';


}


.tags__item {
  position: relative;
  margin-left: 0.3125rem;

  &:hover {
    .tags__name {
      opacity: 1;
      z-index: 1;
    }
  }

  .tags__name {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background-color: $crimson;
    top: -100%;
    color: $white;
  }

  .info-shape {
    padding: 0  calc(var(--x) * 24);
    line-height: 1.625rem;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    border-radius: 28px;
    left: var(--info-shape-left);
    min-width: calc(var(--x) * 180);
    text-align: center;

    &:before {
      content: '';
      border-top-color: $crimson;
      left: 43%;
      position: absolute;
      bottom: calc(var(--x) * (-12));
      width: 0;
      height: 0;
      border-left: calc(var(--x) * 20) solid transparent;
      border-right: calc(var(--x) * 20) solid transparent;
      border-top-width: calc(var(--x) * 20);
      border-top-style: solid;
    }
    .info-shape__text{
      position: relative;
    }

  }

  .tags__icon {
    width: var(--free-vac-grid-vac-icon-s);
    height: var(--free-vac-grid-vac-icon-s);
  }
}