// device size

$break-extra-large: 2800px;
$break-large: 2000px;
$break-desktop: 1200px;
$break-tablet: 967px;
$break-medium: 768px;
$break-small: 540px;
$break-extra-small: 320px;

// fonts
$font-family: 'Roboto';
$font-size: 32px;
$font-weight: normal;
$font-weight-light: 300;


// colors
$white: #ffffff;
$grey: #3d3935;
$crimson: #bc204b;


// logo style
$logo_height: 102px;
$logo_width: 283px;

//header style

$navbar_height: 167px;



