// device size

$break-extra-large: 2800px;
$break-large: 2000px;
$break-desktop: 1200px;
$break-tablet: 967px;
$break-medium: 768px;
$break-small: 540px;
$break-extra-small: 320px;

// fonts
$font-family: 'Roboto';
$font-weight: normal;
$font-weight-light: 300;


// colors
$grey: #3d3935;
$bg-grey: #f4f4f1;
$light-grey: #e1e1de;
$crimson: #bc204b;
$white: #ffffff;
$thin-white: #f9f9f9;
$thin-white1: #fafaf8;
$light-green: #7bceb1;


// logo style
$logo_height: 102px;
$logo_width: 283px;


// variables based on width device

:root {

  //main

  --container-width: 2340px;
  --main-font-size: 32px;
  --border-width: 2px;

  // header

  --navbar-height: 167px;

  --lang-left: 66px;
  --lang-width: 88px;
  --dropbtn-size: 14px;

  --dropdown-border-radius: 10px;
  --dropdown-a-padding: 12px 16px;

  --menu-item-padding: 40px;
  --menu-item-a-height: 88px;
  --menu-item-a-last-radius: 44px;
  --menu-item-a-last-padding: 0 44px;

  // archive-template

  --career-description-top: 180px;
  --career-description-width: 1358px;

  --filter-search-pb: 120px;
  --filter-inputs-height: 130px;
  --filter-input-padding: 50px;
  --filter-choice-list-width: 912px;
  --filter-choice-list-padding: 60px;
  --filter-choice-list-check: 36px;
  --filter-choice-list-name-pl: 20px;
  --filter-choice-list-label-br: 12px;
  --filter-choice-list-wrap-ml: 80px;


}


@media only screen and (min-width: $break-large) and (max-width: $break-extra-large) {

}

@media only screen and (min-width: $break-desktop) and (max-width: $break-large) {

  :root {

    //main

    --container-width: 1170px;
    --main-font-size: 16px;
    --border-width: 1px;

    // header

    --navbar-height: 83.5px;

    --lang-left: 33px;
    --lang-width: 44px;
    --dropbtn-size: 7px;

    --dropdown-border-radius: 5px;
    --dropdown-a-padding: 12px 16px;

    --menu-item-padding: 20px;
    --menu-item-a-height: 44px;
    --menu-item-a-last-radius: 28px;
    --menu-item-a-last-padding: 0 22px;

    // archive-template

    --career-description-top: 90px;
    --career-description-width: 679px;

    --filter-search-pb: 60px;
    --filter-inputs-height: 65px;
    --filter-input-padding: 25px;
    --filter-choice-list-width: 456px;
    --filter-choice-list-padding: 30px;
    --filter-choice-list-check: 18px;
    --filter-choice-list-name-pl: 10px;
    --filter-choice-list-label-br: 6px;
    --filter-choice-list-wrap-ml: 40px;
  }

}

@media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) {

  :root {

    //main

    --container-width: 800px;

  }
}

@media only screen and (min-width: $break-medium) and (max-width: $break-tablet) {

  :root {

    //main

    --container-width: 600px;

  }
}

@media only screen and (min-width: $break-small) and (max-width: $break-medium) {
  :root {

    //main

    --container-width: 500px;

  }

}

@media only screen and (min-width: $break-extra-small) and (max-width: $break-small) {

  :root {

    //main

    --container-width: 100%;

  }
}

