@import "fonts";
@import "variables";
@import "functions";


html {
  font-size: var(--main-font-size);
  font-family: $font-family;
  font-weight: $font-weight;
  color: $grey;
}

body {
  padding-top: var(--navbar-height);
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.logged-in {
  header {
    top: 32px;
  }
}

@import "header";
@import "archive-template";


