@import "fonts";
@import "variables";
@import "functions";
@import "mixins";


html {
  font-size: var(--main-font-size);
  font-family: $font-family;
  font-weight: $font-weight;
  color: $grey;
  background-color: $bg-grey;
}

body {
  padding-top: var(--navbar-height);
}

input{
  font-family: $font-family;
  font-weight: $font-weight;
  color: $grey;
}

ul{
  padding-left: 0;
  outline: none;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.single-container {
  margin: 0 auto;
  width: var(--single-container-width);
}

.logged-in {
  header {
    top: 32px;
  }
}

//btns

.beetroot-btn{
  border: var(--border-width) solid $crimson;
  background-color: transparent;
  color: $crimson;
  font-size: 0.9375rem;
  border-radius: var(--menu-item-a-last-radius);
  padding: var(--menu-item-a-last-padding);
  display: inline-block;
  height: var(--menu-item-a-height);
  line-height: var(--menu-item-a-height);

  &:hover{
    background-color: $crimson;
    color: $white;
  }
}

.thank-you{
  text-align: center;
  margin-top: 5%;
}

@import "header";
@import "archive-template";
@import "single-template";

@import "footer";


