@import "fonts";
@import "variables";
@import "functions";


html {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $grey;
}

body {
  padding-top: $navbar_height;
}

.container {
  margin: 0 auto;
  width: 2340px;
}

.logged-in {
  header {
    top: 32px;
  }
}

header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
  background-color: $white;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;

  .navbar {
    display: flex;
    align-items: center;
    position: relative;
    height: $navbar_height;
    font-weight: $font-weight-light;

    .select-lang {
      position: relative;
      margin-left: 66px;
      width: 88px;
      font-size: 0.93rem;

      .dropbtn {
        &:before {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          border-left: 1px solid $grey;
          border-top: 1px solid $grey;
          right: 0;
          top: 25%;
          -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          transform: rotate(225deg);
          -webkit-transition: -webkit-transform .3s ease-in;
          transition: -webkit-transform .3s ease-in;
          transition: transform .3s ease-in;
          z-index: 1;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: auto;
        border-radius: 10px;

        a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;

          :hover {
            background-color: #ddd;
          }
        }
      }
    }

    .select-lang:hover .dropdown-content {
      display: block;
    }

    .main-menu {
      margin-left: auto;

      ul {
        padding: 0;

        .menu-item {
          padding-right: 40px;

          a {
            display: inline-block;
            height: 88px;
            line-height: 88px;
          }

          &:last-of-type {
            padding-right: 0;

            a {
              border-radius: 44px;
              padding: 0 44px;
              border: 1px solid $crimson;
              color: $crimson;
            }
          }
        }
      }

      #top-nav-ul {
        display: flex;
      }
    }
  }
}


@media only screen and (min-width: $break-large) and (max-width: $break-extra-large) {

}

@media only screen and (min-width: $break-desktop) and (max-width: $break-large) {

  html {
    font-size: half-variable($font-size);
  }

  body {
    padding-top: half-variable($navbar_height);
  }

  .container {
    margin: 0 auto;
    width: 1170px;

    .logo {
      img {
        width: half-variable($logo_width);
        height: auto;
      }
    }
  }

  header {
    .navbar {
      height: half-variable($navbar_height);

      .select-lang {
        margin-left: 33px;
        width: 44px;

        .dropbtn {
          &:before {
            width: 7px;
            height: 7px;
          }
        }

        .dropdown-content {
          border-radius: 5px;
        }
      }

      .main-menu {
        ul {
          .menu-item {
            padding-right: 20px;

            a {
              height: 44px;
              line-height: 44px;
            }

            &:last-of-type {
              a {
                border-radius: 28px;
                padding: 0 22px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
  .container {
    margin: 0 auto;
    width: 800px;
  }
}

@media only screen and (min-width: $break-medium) and (max-width: $break-tablet) {
  .container {
    margin: 0 auto;
    width: 600px;
  }
}

@media only screen and (min-width: $break-small) and (max-width: $break-medium) {
  .container {
    margin: 0 auto;
    width: 500px;
  }
}

@media only screen and (min-width: $break-extra-small) and (max-width: $break-small) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}


