@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
  --x: 1px;
  --container-width: 2340px;
  --single-container-width: 1540px;
  --main-font-size: 32px;
  --border-width: 2px;
  --flex-100: 0 0 100%;
  --flex-50: 0 0 50%;
  --flex-33: 0 0 33.33333%;
  --flex-16: 0 0 16.66666%;
  --free-vac-grid-icon-w: auto;
  --free-vac-grid-icon-h: auto;
  --free-vac-grid-array-w: auto;
  --free-vac-grid-array-h: auto;
  --free-vac-grid-vac-icon-s: auto;
  --free-vac-client-w: auto;
  --free-vac-client-h: auto;
  --jobs-contact-pt: 130px;
  --jobs-contact-pb: 180px;
  --jobs-contact-ml: 60px;
  --footer-pt: 231px;
  --footer-pb: 150px;
  --info-shape-left: -150;
  --benefits-img-w: auto;
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  :root {
    --x: 0.5px;
    --container-width: 1170px;
    --single-container-width: 770px;
    --main-font-size: 16px;
    --border-width: 1px;
    --free-vac-grid-icon-w: 10px;
    --free-vac-grid-icon-h: 15px;
    --free-vac-grid-array-w: 36px;
    --free-vac-grid-array-h: 5px;
    --free-vac-grid-vac-icon-s: 40px;
    --free-vac-client-w: 65px;
    --free-vac-client-h: 35px;
    --jobs-contact-pt: 80px;
    --jobs-contact-pb: 100px;
    --jobs-contact-ml: 50px;
    --footer-pt: 100px;
    --footer-pb: 80px;
    --info-shape-left: -100%;
    --benefits-img-w: 60px;
  }
}
@media only screen and (min-width: 967px) and (max-width: 1200px) {
  :root {
    --container-width: 800px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 967px) {
  :root {
    --container-width: 600px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  :root {
    --container-width: 500px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
  :root {
    --container-width: 100%;
  }
}
html {
  font-size: var(--main-font-size);
  font-family: "Roboto";
  font-weight: normal;
  color: #3d3935;
  background-color: #f4f4f1;
}

body {
  padding-top: calc(var(--x) * 167);
}

input {
  font-family: "Roboto";
  font-weight: normal;
  color: #3d3935;
}
input:focus {
  outline: none;
}

ul {
  padding-left: 0;
  outline: none;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.single-container {
  margin: 0 auto;
  width: var(--single-container-width);
}

.logged-in header {
  top: 32px;
}

.beetroot-btn {
  border: var(--border-width) solid #bc204b;
  background-color: transparent;
  color: #bc204b;
  font-size: 0.9375rem;
  border-radius: calc(var(--x) * 44);
  padding: 0 calc(var(--x) * 44);
  display: inline-block;
  height: calc(var(--x) * 88);
  line-height: calc(var(--x) * 88);
}
.beetroot-btn:hover {
  background-color: #bc204b;
  color: #ffffff;
}

.thank-you {
  text-align: center;
  margin-top: 5%;
}

.asterisk {
  color: #e06287;
}

button {
  font-family: "Roboto";
}

.main-header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
}
.main-header .navbar {
  display: flex;
  align-items: center;
  position: relative;
  height: calc(var(--x) * 167);
  font-weight: 300;
}
.main-header .navbar:hover {
  cursor: pointer;
}
.main-header .navbar .select-lang {
  position: relative;
  padding-left: calc(var(--x) * 66);
  width: calc(var(--x) * 88);
  font-size: 0.93rem;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}
.main-header .navbar .select-lang .dropbtn:before {
  content: "";
  position: absolute;
  width: calc(var(--x) * 14);
  height: calc(var(--x) * 14);
  border-left: 1px solid #3d3935;
  border-top: 1px solid #3d3935;
  right: 0;
  top: 42%;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  z-index: 1;
}
.main-header .navbar .select-lang .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: auto;
  border-radius: calc(var(--x) * 10);
  top: 100%;
}
.main-header .navbar .select-lang .dropdown-content a {
  float: none;
  color: black;
  padding: calc(var(--x) * 12) calc(var(--x) * 16);
  text-decoration: none;
  display: block;
  text-align: left;
}
.main-header .navbar .select-lang .dropdown-content a :hover {
  background-color: #ddd;
}
.main-header .navbar .select-lang:hover .dropdown-content {
  display: block;
}
.main-header .navbar .main-menu {
  margin-left: auto;
}
.main-header .navbar .main-menu ul {
  padding: 0;
}
.main-header .navbar .main-menu ul .menu-item {
  padding-right: calc(var(--x) * 40);
}
.main-header .navbar .main-menu ul .menu-item a {
  display: inline-block;
  height: calc(var(--x) * 88);
  line-height: calc(var(--x) * 88);
}
.main-header .navbar .main-menu ul .menu-item:last-of-type {
  padding-right: 0;
}
.main-header .navbar .main-menu ul .menu-item:last-of-type a {
  border-radius: calc(var(--x) * 44);
  padding: 0 calc(var(--x) * 44);
  border: 1px solid #bc204b;
  color: #bc204b;
}
.main-header .navbar .main-menu ul .menu-item:last-of-type a:hover {
  background-color: #bc204b;
  color: #ffffff;
}
.main-header .navbar .main-menu #top-nav-ul {
  display: flex;
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .container .logo img {
    width: 141.5px;
    height: auto;
  }
}
.career-description {
  padding-top: calc(var(--x) * 180);
  position: relative;
  z-index: 2;
  background-color: #f4f4f1;
}
.career-description .career-description__row {
  display: flex;
  justify-content: center;
  width: calc(var(--x) * 1358);
}
.career-description .career-description__row .career-description__header {
  text-align: center;
}
.career-description .career-description__row .career-description__header .career-description__title {
  color: #bc204b;
  font-size: 2.813rem;
  font-weight: 300;
  margin-top: 0;
}
.career-description .career-description__row .career-description__header .career-description__content {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
  margin-bottom: calc(var(--x) * 80);
}
.career-description .jobs-filter .jobs-filter__row {
  padding-bottom: calc(var(--x) * 220);
}
.career-description .jobs-filter .jobs-filter__row.jobs-filter-search {
  padding-bottom: calc(var(--x) * 40);
}
.career-description .jobs-filter .jobs-filter-search {
  display: flex;
}
.career-description .jobs-filter .jobs-filter-search > div {
  height: calc(var(--x) * 130);
  border: var(--border-width) solid #e1e1de;
  background-color: #fafaf8;
  display: flex;
  align-items: center;
  font-size: 1.188rem;
  opacity: 0.8;
  font-weight: 300;
  padding-left: calc(var(--x) * 50);
  padding-right: calc(var(--x) * 50);
}
.career-description .jobs-filter .jobs-filter-search > div:last-of-type {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap {
  position: relative;
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: calc(calc(var(--x) * 50) * 3);
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap:focus-within {
  border-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap:before {
  content: "";
  width: 26px;
  height: 28px;
  position: absolute;
  left: calc(var(--x) * 50);
  top: calc(50% - 14px);
  background-image: url("../images/icons/-e-search.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap input {
  font-size: 1.188rem;
  opacity: 0.8;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
  height: 98%;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap {
  width: 25%;
  position: relative;
  margin-bottom: 12px;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:before {
  content: "";
  width: 15px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  right: calc(var(--x) * 50);
  background-image: url("../images/icons/-e-arrow.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover {
  border-color: #bc204b;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover .choice-list {
  display: flex;
  visibility: visible;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover:before {
  transform: rotate(180deg);
}
.career-description .jobs-filter .jobs-filter-search .choice-list {
  display: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 102%;
  width: -webkit-fill-available;
}
.career-description .jobs-filter .jobs-filter-search .choice-list:hover {
  display: flex;
  visibility: visible;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last {
  min-width: calc(var(--x) * 912);
  left: auto;
  right: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last .choice-list__wrap--column {
  width: 50%;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last .choice-list__wrap--column.choice-list__wrap--column-right {
  margin-left: calc(var(--x) * 80);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap {
  width: 100%;
  padding: calc(var(--x) * 60);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
  margin-top: calc(var(--x) * 20);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__title {
  font-size: 0.6875rem;
  color: #bc204b;
  text-transform: uppercase;
  margin: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0.6875rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item {
  display: flex;
  align-items: center;
  line-height: 2rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label {
  padding-left: calc(var(--x) * 36);
  position: relative;
  font-size: 1.063rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:before {
  content: "";
  top: 18%;
  left: 0;
  position: absolute;
  width: calc(var(--x) * 36);
  height: calc(var(--x) * 36);
  border-radius: calc(var(--x) * 12);
  border-width: var(--border-width);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:hover {
  cursor: pointer;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:hover:before {
  background-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label .choice-list__label-name {
  padding-left: calc(var(--x) * 20);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__vac-count {
  font-size: 0.875rem;
  opacity: 0.4;
  margin-left: auto;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item.selecting {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: 400;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list-deselect-all {
  display: none;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item.checked .choice-list__label:before {
  background-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__title {
  color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item .choice-list__label:before {
  border-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item .choice-list__label:hover:before {
  background-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item.checked .choice-list__label:before {
  background-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap.all-locations {
  display: flex;
}
.career-description .tabs-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: calc(var(--x) * 80);
}
.career-description .tabs-list .tabs-list__item.view-buttons {
  margin-left: auto;
}
.career-description .tabs-list .tabs-list__item.checked .tabs-list__button {
  background-color: #bc204b;
  border-color: #bc204b;
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.checked .tabs-list__button .tabs-list__count {
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button {
  outline: none;
  margin-right: 0.5625rem;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: 30px;
  background-color: transparent;
  font-size: 0.875rem;
  padding: calc(var(--x) * 12) calc(var(--x) * 20);
}
.career-description .tabs-list .tabs-list__item .tabs-list__button .tabs-list__count {
  color: #989693;
  font-size: 0.8125rem;
  font-weight: 300;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #bc204b;
  border-color: #bc204b;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button:hover .tabs-list__count {
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn {
  height: calc(var(--x) * 60);
  width: calc(var(--x) * 80);
  background-color: transparent;
  outline: 0;
  border-width: var(--border-width);
  border-style: solid;
  background-repeat: no-repeat;
  background-size: calc(var(--x) * 30) calc(var(--x) * 26);
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn:hover {
  cursor: pointer;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.on {
  background-color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.view-buttons__grid {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right-width: 0;
  background-position: 60% 50%;
  background-image: url("../images/icons/-e-grid.png");
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.view-buttons__list {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -2px;
  background-position: 40% 50%;
  background-image: url("../images/icons/-e-list.png");
}
.career-description .open-vac .filter__row-headline {
  display: none;
}
.career-description .open-vac .free-vacancy:hover {
  cursor: pointer;
}
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-city,
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-location {
  display: none;
}
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-btn,
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-arrow {
  display: block !important;
}
.career-description .open-vac .free-vacancy .free-vacancy__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--x) * 25);
  min-height: calc(var(--x) * 70);
}
.career-description .open-vac .free-vacancy .free-vacancy__header .free-vacancy__title {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.career-description .open-vac .free-vacancy .free-vacancy__header .free-vacancy__title .free-vacancy__title-hot {
  background-color: rgba(188, 32, 75, 0.1);
  color: #bc204b;
  font-size: 0.6875rem;
  font-weight: 400;
  margin-left: calc(var(--x) * 10);
  padding: calc(var(--x) * 10) calc(var(--x) * 20);
  border-radius: calc(var(--x) * 28);
}
.career-description .open-vac .free-vacancy .free-vacancy__header .client img {
  width: var(--free-vac-client-w);
}
.career-description .open-vac .free-vacancy .free-vacancy__description {
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.406rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.career-description .open-vac .free-vacancy .free-vacancy__description .free-vacancy__description-info {
  display: none;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details {
  display: flex;
  align-items: center;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-location {
  width: var(--free-vac-grid-icon-w);
  height: var(--free-vac-grid-icon-h);
  margin-right: 0.3rem;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-btn {
  display: none;
  color: #bc204b;
  opacity: 1;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-arrow {
  display: none;
  margin-left: 0.3rem;
  width: var(--free-vac-grid-array-w);
  height: var(--free-vac-grid-array-h);
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags {
  display: flex;
  align-items: center;
  padding: 0;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .free-vacancy__details .free-vacancy__details-btn {
  color: #7bceb1;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .cpt-item__tags .tags .tags__item .tags__name {
  background-color: #7bceb1;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .cpt-item__tags .tags .tags__item .info-shape:before {
  border-top-color: #7bceb1;
}
.career-description .open-vac.open-vac--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: calc(var(--x) * 60);
  grid-row-gap: calc(var(--x) * 60);
}
.career-description .open-vac.open-vac--grid .free-vacancy {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: calc(var(--x) * 40);
  padding: calc(var(--x) * 50);
}
.career-description .open-vac.open-vac--grid .free-vacancy .free-vacancy__footer {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--grid .free-vacancy .free-vacancy__footer .cpt-item__client {
  display: none;
}
.career-description .open-vac.open-vac--list .filter__row-headline {
  display: flex;
  padding-bottom: calc(var(--x) * 14);
  padding-top: 0;
  border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.1);
  flex: var(--flex-100);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--total {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--category {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info {
  flex: var(--flex-50);
  display: flex;
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--location {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--tags {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--client {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy {
  border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.1);
  display: flex;
  min-height: calc(var(--x) * 134);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header {
  flex: var(--flex-33);
  margin: 0;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header .free-vacancy__title {
  margin: 0;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header .client {
  display: none;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description .free-vacancy__description-content {
  display: none;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description .free-vacancy__description-info {
  display: block;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .free-vacancy__details {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__tags {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__client {
  display: block;
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__client img {
  width: var(--free-vac-client-w);
}
.career-description .jobs-contact-us {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  padding-top: var(--jobs-contact-pt);
  padding-bottom: var(--jobs-contact-pb);
}
.career-description .jobs-contact-us .jobs-contact-us__row .jobs-contact-us__title {
  font-size: 1.25rem;
}
.career-description .jobs-contact-us .jobs-contact-us__row .jobs-contact-us__action {
  margin-left: var(--jobs-contact-ml);
}
.career-description .jobs-contact-us .jobs-contact-us__row:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f4f4f1;
  -webkit-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  transform: skewY(-1deg);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: visible;
  z-index: -1;
  background-color: #ffffff;
}

.job-single {
  font-size: 1.063rem;
  background-color: #ffffff;
}
.job-single .job-single__description {
  position: relative;
  z-index: 2;
  background-color: #f4f4f1;
}
.job-single .beetroot-btn {
  background-color: #bc204b;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.063rem;
}
.job-single .job-intro {
  background-color: #f4f4f1;
  display: -webkit-box;
  position: relative;
}
.job-single .job-intro .job-intro__row {
  margin-top: calc(var(--x) * 180);
  margin-bottom: calc(var(--x) * 220);
}
.job-single .job-intro .job-intro__row:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f4f4f1;
  -webkit-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  transform: skewY(-1deg);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: visible;
  z-index: -1;
  z-index: 0;
  height: 10%;
}
.job-single .job-intro .job-intro__title {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}
.job-single .job-intro .job-intro__description {
  font-size: 1.25rem;
  width: 80%;
  line-height: 1.875rem;
  font-weight: 300;
}
.job-single .job-intro .job-intro__actions {
  display: flex;
  align-items: center;
  width: 95%;
}
.job-single .job-intro .job-intro__actions .job-intro__actions-location {
  opacity: 0.7;
  font-size: 1.125rem;
  margin-left: 50px;
  margin-right: 50px;
}
.job-single .job-intro .job-intro__actions .job-intro__actions-job-tags {
  display: flex;
  position: relative;
  padding: 0;
}
.job-single .job-intro .job-intro__actions .job-intro__actions-client {
  margin-left: auto;
}
.job-single .job-description {
  padding-top: calc(var(--x) * 200);
  padding-bottom: calc(var(--x) * 200);
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #ffffff;
}
.job-single .job-description .job-description__row .job-description__row-content {
  margin-bottom: calc(var(--x) * 90);
  line-height: calc(var(--x) * 60);
}
.job-single .job-description .job-description__row .job-description__row-info {
  font-size: 2.188rem;
}
.job-single .job-description .job-description__row .job-description__row-info ul {
  opacity: 0.8;
  font-size: 1.063rem;
  margin-bottom: calc(var(--x) * 50);
}
.job-single .job-description .job-description__row .job-description__row-info ul li {
  position: relative;
  padding-left: 2%;
  line-height: calc(var(--x) * 50);
}
.job-single .job-description .job-description__row .job-description__row-info ul li:before {
  content: "";
  width: calc(var(--x) * 16);
  height: calc(var(--x) * 16);
  left: 0;
  position: absolute;
  border: calc(var(--x) * 3) solid #e06287;
  opacity: 0.8;
  border-radius: 50%;
  top: calc(var(--x) * 16);
}
.job-single .job-benefits {
  background-color: #f4f4f1;
}
.job-single .job-benefits .job-benefits__row {
  padding-top: calc(var(--x) * 200);
  padding-bottom: calc(var(--x) * 200);
}
.job-single .job-benefits .job-benefits__row .job-benefits__row-title {
  font-size: 2.188rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: calc(var(--x) * 2);
}
.job-single .job-benefits .job-benefits__row .job-benefits__row-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 25%;
  grid-column-gap: 5%;
}
.job-single .job-benefits .job-benefits__row .job-benefits__row-collection .job-benefits__row-item {
  display: flex;
  align-items: center;
}
.job-single .job-benefits .job-benefits__row .job-benefits__row-collection .job-benefits__row-item .job-benefits__row-item-icon {
  height: auto;
  width: var(--benefits-img-w);
  margin-right: 5%;
}
.job-single .job-benefits .job-benefits__row .job-benefits__row-collection .job-benefits__row-item .job-benefits__row-item-text {
  opacity: 0.8;
  font-size: 1.063rem;
  font-weight: 300;
  line-height: 1.563rem;
}
.job-single .job-apply {
  padding-top: calc(var(--x) * 240);
  padding-bottom: calc(var(--x) * 240);
  font-size: 1.063rem;
  background-color: #ffffff;
}
.job-single .job-apply .wpcf7-not-valid-tip {
  color: #bc204b;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.563rem;
}
.job-single .job-apply .job-apply__row .job-apply__row-title {
  font-size: 2.813rem;
  font-weight: 300;
  line-height: 3.438rem;
  margin-top: 0;
}
.job-single .job-apply .job-apply__row .apply-form .wpcf7-form-control-wrap {
  position: unset;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item {
  margin-top: calc(var(--x) * 88);
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement {
  margin-top: calc(var(--x) * 40);
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.user-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2%;
  grid-column-gap: 2%;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.user-data .user-data__field {
  position: relative;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.user-data .user-data__field label {
  position: absolute;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.user-data .user-data__field input {
  width: -webkit-fill-available;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.user-data.message {
  display: inline-block;
  width: 100%;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item .apply-form__item-field {
  position: relative;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item .apply-form__item-field label {
  position: absolute;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item .apply-form__item-field .apply-form__item-message {
  width: -webkit-fill-available;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.2);
  font-size: 1.063rem;
  line-height: 1.563rem;
  padding-bottom: calc(var(--x) * 24);
  width: 100%;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item input:focus {
  border-color: #bc204b;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item .asterisk {
  color: #e06287;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement {
  color: #948c85;
  font-size: 0.875rem;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement a {
  color: #bc204b;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement input {
  display: none;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement label {
  position: relative;
  padding-left: calc(var(--x) * 60);
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(var(--x) * 36);
  height: calc(var(--x) * 36);
  border-radius: calc(var(--x) * 12);
  border: var(--border-width) solid #bc204b;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement label.checked:before {
  background-color: #bc204b;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.agreement .wpcf7-list-item {
  margin-left: 0;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit {
  display: flex;
  align-items: center;
  float: left;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit input {
  border-top: var(--border-width) solid rgba(61, 57, 53, 0.2);
  border-left: var(--border-width) solid rgba(61, 57, 53, 0.2);
  border-right: var(--border-width) solid rgba(61, 57, 53, 0.2);
  width: auto;
  font-size: 0.9375rem;
  border-radius: calc(var(--x) * 44);
  padding: 0 calc(var(--x) * 44);
  display: inline-block;
  height: calc(var(--x) * 88);
  line-height: calc(var(--x) * 88);
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit input:hover {
  cursor: pointer;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit input:focus {
  border-color: rgba(61, 57, 53, 0.2);
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit input:disabled {
  opacity: 0.4;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit input:disabled:hover {
  cursor: not-allowed;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit .apply__submit-btn {
  margin-right: 2%;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit .apply__submit-response {
  color: #7ccc6c;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-left: 2%;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit .agreement-success {
  display: none;
  width: 0.75rem;
  height: 0.75rem;
}
.job-single .job-apply .job-apply__row .apply-form .apply-form__item.apply__submit .agreement-success.active {
  display: block;
}
.job-single .job-apply .job-apply__row .apply-form .file {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-category {
  display: flex;
  margin-bottom: calc(var(--x) * 40);
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-category .file__items-title {
  margin-right: 0.9375rem;
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-category .file__items {
  display: flex;
  margin: 0;
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-category .file__items .file__item {
  color: #bc204b;
  font-size: 0.6875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-category span {
  margin-right: calc(var(--x) * 60);
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-upload {
  border: none;
  display: none;
}
.job-single .job-apply .job-apply__row .apply-form .file .file__item-main .file__item-upload.active {
  display: block;
}
.job-single .job-apply .job-apply__row .apply-form .wpcf7-response-output {
  position: relative;
  font-size: 0.9375rem;
  font-weight: 400;
  display: inline-block;
  border: none;
  margin-top: calc(var(--x) * 88);
  line-height: 2.5rem;
  padding-left: 3%;
}
.job-single .job-apply .job-apply__row .apply-form .wpcf7-validation-errors {
  color: #bc204b;
}
.job-single .job-apply .job-apply__row .apply-form .wpcf7-mail-sent-ok {
  color: #7ccc6c;
}
.job-single .job-apply .job-apply__row .apply-form .wpcf7-mail-sent-ok:before {
  content: "";
  background-image: url(../images/icons/-e-yes.png);
  position: absolute;
  left: 0;
  top: 30%;
  width: calc(var(--x) * 36);
  height: calc(var(--x) * 36);
  background-repeat: no-repeat;
  background-size: contain;
}
.job-single .job-interested {
  background-color: #f4f4f1;
  padding-top: calc(var(--x) * 189);
  padding-bottom: calc(var(--x) * 221);
}
.job-single .job-interested .job-interested__row {
  display: flex;
}
.job-single .job-interested .job-interested__row .job-interested__title {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.25rem;
  margin: 0;
}
.job-single .job-interested .job-interested__row .job-interested__social {
  display: flex;
  margin-left: auto;
}
.job-single .job-interested .job-interested__row .job-interested__social .social {
  display: flex;
  align-items: center;
  margin: 0;
}
.job-single .job-interested .job-interested__row .job-interested__social .social .social__item {
  margin-right: 0.516rem;
}
.job-single .job-interested .job-interested__row .job-interested__social .social .social__item .social__link {
  font-size: 1rem;
  width: 2.406rem;
  height: 2.406rem;
  line-height: 2.406rem;
  text-align: center;
  color: #ffffff;
  border-radius: 2rem;
  display: block;
}
.job-single .job-interested .job-interested__row:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f4f4f1;
  -webkit-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  transform: skewY(-1deg);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: visible;
  z-index: -1;
}

.tags__item {
  position: relative;
  margin-left: 0.3125rem;
}
.tags__item:hover .tags__name {
  opacity: 1;
  z-index: 1;
}
.tags__item .tags__name {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: #bc204b;
  top: -100%;
  color: #ffffff;
}
.tags__item .info-shape {
  padding: 0 calc(var(--x) * 24);
  line-height: 1.625rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 28px;
  left: var(--info-shape-left);
  min-width: calc(var(--x) * 180);
  text-align: center;
}
.tags__item .info-shape:before {
  content: "";
  border-top-color: #bc204b;
  left: 43%;
  position: absolute;
  bottom: calc(var(--x) * (-12));
  width: 0;
  height: 0;
  border-left: calc(var(--x) * 20) solid transparent;
  border-right: calc(var(--x) * 20) solid transparent;
  border-top-width: calc(var(--x) * 20);
  border-top-style: solid;
}
.tags__item .info-shape .info-shape__text {
  position: relative;
}
.tags__item .tags__icon {
  width: var(--free-vac-grid-vac-icon-s);
  height: var(--free-vac-grid-vac-icon-s);
}

.footer {
  background-color: #3d3935;
  color: #ffffff;
  padding-top: var(--footer-pt);
  padding-bottom: var(--footer-pb);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer a {
  color: #ffffff;
  opacity: 0.6;
  font-weight: 300;
  line-height: 1.875rem;
}
.footer a:hover {
  opacity: 1;
}
.footer h3 {
  opacity: 0.2;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1.78px;
}
.footer ul {
  padding: 0;
}
.footer .footer__row {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 10%;
}
.footer .footer__row .footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .footer__row .footer__menu .footer__menu-column #menu-footer-menu-3 {
  margin-top: 1.875rem;
}
.footer .footer__row .footer__info .footer__info-socials .social {
  display: flex;
  margin-top: 0;
}
.footer .footer__row .footer__info .footer__info-socials .social .social__item {
  margin-right: 0.516rem;
}
.footer .footer__row .footer__info .footer__info-socials .social .social__item .social__link {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5625rem;
  width: 2.8125rem;
  height: 2.8125rem;
  line-height: 2.875rem;
  text-align: center;
  color: #3d3935;
  border-radius: 1.563rem;
  display: block;
}
.footer .footer__row .footer__info-subscribe {
  margin-top: calc(var(--x) * 80);
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-title {
  color: #f1b828;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-top: 0;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap {
  position: relative;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-input {
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: var(--border-width) solid rgba(241, 184, 40, 0.2);
  outline: none;
  color: #ffffff;
  font-size: 1.063rem;
  height: 2.25rem;
  line-height: 1.563rem;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-submit {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  border: 0;
  z-index: 1;
  position: absolute;
  color: transparent;
  bottom: 0.5rem;
  right: 0;
  width: 2rem;
  background-image: url(../images/icons/footer-arrow.png);
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-submit:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
