@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
  --container-width: 2340px;
  --main-font-size: 32px;
  --border-width: 2px;
  --flex-100: 0 0 100%;
  --flex-50: 0 0 50%;
  --flex-33: 0 0 33.33333%;
  --flex-16: 0 0 16.66666%;
  --navbar-height: 167px;
  --lang-left: 66px;
  --lang-width: 88px;
  --dropbtn-size: 14px;
  --dropdown-border-radius: 10px;
  --dropdown-a-padding: 12px 16px;
  --menu-item-padding: 40px;
  --menu-item-a-height: 88px;
  --menu-item-a-last-radius: 44px;
  --menu-item-a-last-padding: 0 44px;
  --career-description-top: 180px;
  --career-description-width: 1358px;
  --filter-search-pb: 220px;
  --filter-inputs-height: 130px;
  --filter-input-padding: 50px;
  --filter-choice-list-width: 912px;
  --filter-choice-list-padding: 60px;
  --filter-choice-list-check: 36px;
  --filter-choice-list-name-pl: 20px;
  --filter-choice-list-label-br: 12px;
  --filter-choice-list-wrap-ml: 80px;
  --filter-tabs-list-m: 40px;
  --filter-tabs-list-btns-w: 80px;
  --filter-tabs-list-btns-h: 60px;
  --filter-tabs-list-btns-bqsize: 30px 26px;
  --free-vac-grid-space: 60px;
  --free-vac-grid-article-br: 40px;
  --free-vac-grid-article-p: 50px;
  --free-vac-grid-article-title-m: 25px;
  --free-vac-grid-icon-w: auto;
  --free-vac-grid-icon-h: auto;
  --free-vac-grid-array-w: auto;
  --free-vac-grid-array-h: auto;
  --free-vac-grid-vac-icon-s: auto;
  --free-vac-client-w: auto;
  --free-vac-client-h: auto;
  --jobs-contact-pt: 130px;
  --jobs-contact-pb: 180px;
  --jobs-contact-ml: 60px;
  --footer-pt: 231px;
  --footer-pb: 150px;
  --footer-subcribe-mt: 80px;
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  :root {
    --container-width: 1170px;
    --main-font-size: 16px;
    --border-width: 1px;
    --navbar-height: 83.5px;
    --lang-left: 33px;
    --lang-width: 44px;
    --dropbtn-size: 7px;
    --dropdown-border-radius: 5px;
    --dropdown-a-padding: 12px 16px;
    --menu-item-padding: 20px;
    --menu-item-a-height: 44px;
    --menu-item-a-last-radius: 28px;
    --menu-item-a-last-padding: 0 22px;
    --career-description-top: 90px;
    --career-description-width: 679px;
    --filter-search-pb: 110px;
    --filter-inputs-height: 65px;
    --filter-input-padding: 25px;
    --filter-choice-list-width: 456px;
    --filter-choice-list-padding: 30px;
    --filter-choice-list-check: 18px;
    --filter-choice-list-name-pl: 10px;
    --filter-choice-list-label-br: 6px;
    --filter-choice-list-wrap-ml: 40px;
    --filter-tabs-list-m: 20px;
    --filter-tabs-list-btns-w: 40px;
    --filter-tabs-list-btns-h: 30px;
    --filter-tabs-list-btns-bqsize: 15px 13px;
    --free-vac-grid-space: 30px;
    --free-vac-grid-article-br: 20px;
    --free-vac-grid-article-p: 25px;
    --free-vac-grid-article-title-m: 12px;
    --free-vac-grid-icon-w: 10px;
    --free-vac-grid-icon-h: 15px;
    --free-vac-grid-array-w: 36px;
    --free-vac-grid-array-h: 5px;
    --free-vac-grid-vac-icon-s: 40px;
    --free-vac-client-w: 65px;
    --free-vac-client-h: 35px;
    --jobs-contact-pt: 80px;
    --jobs-contact-pb: 100px;
    --jobs-contact-ml: 50px;
    --footer-pt: 100px;
    --footer-pb: 80px;
    --footer-subcribe-mt: 40px;
  }
}
@media only screen and (min-width: 967px) and (max-width: 1200px) {
  :root {
    --container-width: 800px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 967px) {
  :root {
    --container-width: 600px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  :root {
    --container-width: 500px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
  :root {
    --container-width: 100%;
  }
}
html {
  font-size: var(--main-font-size);
  font-family: "Roboto";
  font-weight: normal;
  color: #3d3935;
  background-color: #f4f4f1;
}

body {
  padding-top: var(--navbar-height);
}

input {
  font-family: "Roboto";
  font-weight: normal;
  color: #3d3935;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.logged-in header {
  top: 32px;
}

.beetroot-btn {
  border: var(--border-width) solid #bc204b;
  background-color: transparent;
  color: #bc204b;
  font-size: 0.9375rem;
  border-radius: var(--menu-item-a-last-radius);
  padding: var(--menu-item-a-last-padding);
  display: inline-block;
  height: var(--menu-item-a-height);
  line-height: var(--menu-item-a-height);
}
.beetroot-btn:hover {
  background-color: #bc204b;
  color: #ffffff;
}

.thank-you {
  text-align: center;
  margin-top: 5%;
}

.main-header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
}
.main-header .navbar {
  display: flex;
  align-items: center;
  position: relative;
  height: var(--navbar-height);
  font-weight: 300;
}
.main-header .navbar .select-lang {
  position: relative;
  margin-left: var(--lang-left);
  width: var(--lang-width);
  font-size: 0.93rem;
}
.main-header .navbar .select-lang .dropbtn:before {
  content: "";
  position: absolute;
  width: var(--dropbtn-size);
  height: var(--dropbtn-size);
  border-left: 1px solid #3d3935;
  border-top: 1px solid #3d3935;
  right: 0;
  top: 25%;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  z-index: 1;
}
.main-header .navbar .select-lang .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: auto;
  border-radius: var(--dropdown-border-radius);
}
.main-header .navbar .select-lang .dropdown-content a {
  float: none;
  color: black;
  padding: var(--dropdown-a-padding);
  text-decoration: none;
  display: block;
  text-align: left;
}
.main-header .navbar .select-lang .dropdown-content a :hover {
  background-color: #ddd;
}
.main-header .navbar .select-lang:hover .dropdown-content {
  display: block;
}
.main-header .navbar .main-menu {
  margin-left: auto;
}
.main-header .navbar .main-menu ul {
  padding: 0;
}
.main-header .navbar .main-menu ul .menu-item {
  padding-right: var(--menu-item-padding);
}
.main-header .navbar .main-menu ul .menu-item a {
  display: inline-block;
  height: var(--menu-item-a-height);
  line-height: var(--menu-item-a-height);
}
.main-header .navbar .main-menu ul .menu-item:last-of-type {
  padding-right: 0;
}
.main-header .navbar .main-menu ul .menu-item:last-of-type a {
  border-radius: var(--menu-item-a-last-radius);
  padding: var(--menu-item-a-last-padding);
  border: 1px solid #bc204b;
  color: #bc204b;
}
.main-header .navbar .main-menu #top-nav-ul {
  display: flex;
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .container .logo img {
    width: 141.5px;
    height: auto;
  }
}
.career-description {
  padding-top: var(--career-description-top);
  position: relative;
  z-index: 2;
  background-color: #f4f4f1;
}
.career-description .career-description__row {
  display: flex;
  justify-content: center;
  width: var(--career-description-width);
}
.career-description .career-description__row .career-description__header {
  text-align: center;
}
.career-description .career-description__row .career-description__header .career-description__title {
  color: #bc204b;
  font-size: 2.813rem;
  font-weight: 300;
  margin-top: 0;
}
.career-description .career-description__row .career-description__header .career-description__content {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
}
.career-description .jobs-filter .jobs-filter__row {
  padding-bottom: var(--filter-search-pb);
}
.career-description .jobs-filter .jobs-filter__row.jobs-filter-search {
  padding-bottom: 30px;
}
.career-description .jobs-filter .jobs-filter-search {
  display: flex;
}
.career-description .jobs-filter .jobs-filter-search > div {
  height: var(--filter-inputs-height);
  border: var(--border-width) solid #e1e1de;
  background-color: #fafaf8;
  display: flex;
  align-items: center;
  font-size: 1.188rem;
  opacity: 0.8;
  font-weight: 300;
  padding-left: var(--filter-input-padding);
  padding-right: var(--filter-input-padding);
}
.career-description .jobs-filter .jobs-filter-search > div:last-of-type {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap {
  position: relative;
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: calc(var(--filter-input-padding) * 3);
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap:focus-within {
  border-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap:before {
  content: "";
  width: 26px;
  height: 28px;
  position: absolute;
  left: var(--filter-input-padding);
  top: calc(50% - 14px);
  background-image: url("../images/icons/-e-search.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__input-wrap input {
  font-size: 1.188rem;
  opacity: 0.8;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
  height: 98%;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap {
  width: 25%;
  position: relative;
  margin-bottom: 12px;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:before {
  content: "";
  width: 15px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  right: var(--filter-input-padding);
  background-image: url("../images/icons/-e-arrow.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover {
  border-color: #bc204b;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover .choice-list {
  display: flex;
  visibility: visible;
}
.career-description .jobs-filter .jobs-filter-search .jobs-filter-search__dropdown-wrap:hover:before {
  transform: rotate(180deg);
}
.career-description .jobs-filter .jobs-filter-search .choice-list {
  display: none;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 102%;
  width: -webkit-fill-available;
}
.career-description .jobs-filter .jobs-filter-search .choice-list:hover {
  display: flex;
  visibility: visible;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last {
  min-width: var(--filter-choice-list-width);
  left: auto;
  right: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last .choice-list__wrap--column {
  width: 50%;
}
.career-description .jobs-filter .jobs-filter-search .choice-list.choice-list--last .choice-list__wrap--column.choice-list__wrap--column-right {
  margin-left: var(--filter-choice-list-wrap-ml);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap {
  width: 100%;
  padding: var(--filter-choice-list-padding);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07);
  margin-top: var(--filter-choice-list-name-pl);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__title {
  font-size: 0.6875rem;
  color: #bc204b;
  text-transform: uppercase;
  margin: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0.6875rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item {
  display: flex;
  align-items: center;
  line-height: 2rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label {
  padding-left: var(--filter-choice-list-check);
  position: relative;
  font-size: 1.063rem;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:before {
  content: "";
  top: 18%;
  left: 0;
  position: absolute;
  width: var(--filter-choice-list-check);
  height: var(--filter-choice-list-check);
  border-radius: var(--filter-choice-list-label-br);
  border-width: var(--border-width);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:hover {
  cursor: pointer;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label:hover:before {
  background-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__label .choice-list__label-name {
  padding-left: var(--filter-choice-list-name-pl);
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list__vac-count {
  font-size: 0.875rem;
  opacity: 0.4;
  margin-left: auto;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item.selecting {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: 400;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item .choice-list-deselect-all {
  display: none;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__menu .choice-list__item.checked .choice-list__label:before {
  background-color: #bc204b;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__title {
  color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item .choice-list__label:before {
  border-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item .choice-list__label:hover:before {
  background-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap .choice-list__wrap--column-right .choice-list__menu .choice-list__item.checked .choice-list__label:before {
  background-color: #7bceb1;
}
.career-description .jobs-filter .jobs-filter-search .choice-list .choice-list__wrap.all-locations {
  display: flex;
}
.career-description .tabs-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: var(--filter-tabs-list-m);
}
.career-description .tabs-list .tabs-list__item.view-buttons {
  margin-left: auto;
}
.career-description .tabs-list .tabs-list__item.checked .tabs-list__button {
  background-color: #bc204b;
  border-color: #bc204b;
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.checked .tabs-list__button .tabs-list__count {
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button {
  outline: none;
  margin-right: 0.5625rem;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: 30px;
  background-color: transparent;
  font-size: 0.875rem;
  padding: 6px 10px;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button .tabs-list__count {
  color: #989693;
  font-size: 0.8125rem;
  font-weight: 300;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #bc204b;
  border-color: #bc204b;
}
.career-description .tabs-list .tabs-list__item .tabs-list__button:hover .tabs-list__count {
  color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn {
  height: var(--filter-tabs-list-btns-h);
  width: var(--filter-tabs-list-btns-w);
  background-color: transparent;
  outline: 0;
  border-width: var(--border-width);
  border-style: solid;
  background-repeat: no-repeat;
  background-size: var(--filter-tabs-list-btns-bqsize);
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn:hover {
  cursor: pointer;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.on {
  background-color: #ffffff;
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.view-buttons__grid {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right-width: 0;
  background-position: 60% 50%;
  background-image: url("../images/icons/-e-grid.png");
}
.career-description .tabs-list .tabs-list__item.view-buttons .view-buttons__btn.view-buttons__list {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -2px;
  background-position: 40% 50%;
  background-image: url("../images/icons/-e-list.png");
}
.career-description .open-vac .filter__row-headline {
  display: none;
}
.career-description .open-vac .free-vacancy:hover {
  cursor: pointer;
}
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-city,
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-location {
  display: none;
}
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-btn,
.career-description .open-vac .free-vacancy:hover .free-vacancy__details-arrow {
  display: block !important;
}
.career-description .open-vac .free-vacancy .free-vacancy__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--free-vac-grid-article-title-m);
}
.career-description .open-vac .free-vacancy .free-vacancy__header .free-vacancy__title {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0;
}
.career-description .open-vac .free-vacancy .free-vacancy__header .client img {
  width: var(--free-vac-client-w);
}
.career-description .open-vac .free-vacancy .free-vacancy__description {
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.406rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.career-description .open-vac .free-vacancy .free-vacancy__description .free-vacancy__description-info {
  display: none;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details {
  display: flex;
  align-items: center;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-location {
  width: var(--free-vac-grid-icon-w);
  height: var(--free-vac-grid-icon-h);
  margin-right: 0.3rem;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-btn {
  display: none;
  color: #bc204b;
  opacity: 1;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .free-vacancy__details .free-vacancy__details-arrow {
  display: none;
  margin-left: 0.3rem;
  width: var(--free-vac-grid-array-w);
  height: var(--free-vac-grid-array-h);
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags {
  display: flex;
  align-items: center;
  padding: 0;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item {
  position: relative;
  margin-left: 0.3125rem;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item:hover .tags__name {
  opacity: 1;
  z-index: 1;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item .tags__name {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: #bc204b;
  top: -100%;
  color: #ffffff;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item .info-shape {
  padding: 0 12px;
  line-height: 26px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 28px;
  left: -50%;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item .info-shape:before {
  content: "";
  border-top-color: #bc204b;
  left: 40%;
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top-width: 10px;
  border-top-style: solid;
}
.career-description .open-vac .free-vacancy .free-vacancy__footer .cpt-item__tags .tags .tags__item .tags__icon {
  width: var(--free-vac-grid-vac-icon-s);
  height: var(--free-vac-grid-vac-icon-s);
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .free-vacancy__details .free-vacancy__details-btn {
  color: #7bceb1;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .cpt-item__tags .tags .tags__item .tags__name {
  background-color: #7bceb1;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .cpt-item__tags .tags .tags__item .info-shape {
  padding: 0 12px;
  line-height: 26px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 28px;
  left: -50%;
}
.career-description .open-vac .free-vacancy.green .free-vacancy__footer .cpt-item__tags .tags .tags__item .info-shape:before {
  border-top-color: #7bceb1;
}
.career-description .open-vac.open-vac--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--free-vac-grid-space);
  grid-row-gap: var(--free-vac-grid-space);
}
.career-description .open-vac.open-vac--grid .free-vacancy {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: var(--free-vac-grid-article-br);
  padding: var(--free-vac-grid-article-p);
}
.career-description .open-vac.open-vac--grid .free-vacancy .free-vacancy__footer {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--grid .free-vacancy .free-vacancy__footer .cpt-item__client {
  display: none;
}
.career-description .open-vac.open-vac--list .filter__row-headline {
  display: flex;
  padding: 14px 0;
  border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.1);
  flex: var(--flex-100);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--total {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--category {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info {
  flex: var(--flex-50);
  display: flex;
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--location {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--tags {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .filter__row-headline .filter__row-headline--info .filter__row-headline--client {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy {
  border-bottom: var(--border-width) solid rgba(61, 57, 53, 0.1);
  display: flex;
  min-height: 77px;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header {
  flex: var(--flex-33);
  margin: 0;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header .free-vacancy__title {
  margin: 0;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__header .client {
  display: none;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description {
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description .free-vacancy__description-content {
  display: none;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__description .free-vacancy__description-info {
  display: block;
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .free-vacancy__details {
  flex: var(--flex-33);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__tags {
  flex: var(--flex-50);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__client {
  display: block;
  flex: var(--flex-16);
}
.career-description .open-vac.open-vac--list .free-vacancy .free-vacancy__footer .cpt-item__client img {
  width: var(--free-vac-client-w);
}
.career-description .jobs-contact-us {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  padding-top: var(--jobs-contact-pt);
  padding-bottom: var(--jobs-contact-pb);
}
.career-description .jobs-contact-us .jobs-contact-us__row .jobs-contact-us__title {
  font-size: 1.25rem;
}
.career-description .jobs-contact-us .jobs-contact-us__row .jobs-contact-us__action {
  margin-left: var(--jobs-contact-ml);
}
.career-description .jobs-contact-us .jobs-contact-us__row:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  transform: skewY(-1deg);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: visible;
  z-index: -1;
}

.footer {
  background-color: #3d3935;
  color: #ffffff;
  padding-top: var(--footer-pt);
  padding-bottom: var(--footer-pb);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer a {
  color: #ffffff;
  opacity: 0.6;
  font-weight: 300;
  line-height: 1.875rem;
}
.footer a:hover {
  opacity: 1;
}
.footer h3 {
  opacity: 0.2;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1.78px;
}
.footer ul {
  padding: 0;
}
.footer .footer__row {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 10%;
}
.footer .footer__row .footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .footer__row .footer__menu .footer__menu-column #menu-footer-menu-3 {
  margin-top: 1.875rem;
}
.footer .footer__row .footer__info .footer__info-socials .social {
  display: flex;
  margin-top: 0;
}
.footer .footer__row .footer__info .footer__info-socials .social .social__item {
  margin-right: 0.516rem;
}
.footer .footer__row .footer__info .footer__info-socials .social .social__item .social__link {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5625rem;
  width: 2.8125rem;
  height: 2.8125rem;
  line-height: 2.875rem;
  text-align: center;
  color: #3d3935;
  border-radius: 1.563rem;
  display: block;
}
.footer .footer__row .footer__info-subscribe {
  margin-top: var(--footer-subcribe-mt);
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-title {
  color: #f1b828;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-top: 0;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap {
  position: relative;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-input {
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: var(--border-width) solid rgba(241, 184, 40, 0.2);
  outline: none;
  color: #ffffff;
  font-size: 1.063rem;
  height: 2.25rem;
  line-height: 1.563rem;
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-submit {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  border: 0;
  z-index: 1;
  position: absolute;
  color: transparent;
  bottom: 0.5rem;
  right: 0;
  width: 2rem;
  background-image: url(../images/icons/footer-arrow.png);
}
.footer .footer__row .footer__info-subscribe .footer__info-subscribe-form__wrap .footer__info-subscribe-submit:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
